[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-server-timing = "*"
rfc3339 = "*"
termcolor = "*"
redis = "*"
requests = "*"

[requires]
python_version = "3.7"
